#title {
  background-color: #ff4c8f;
  color: white;
}

/* navigation bar */
.navbar-brand {
    font-family: "Ubuntu", sans-serif;
    /* font-family: "Montserrat", sans-serif; */
    font-weight: bold;
    font-size: 3rem;
}

.navbar {
    padding:0 0 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 300;
}

body {
    font-family: "Montserrat", sans-serif;
}

h1 {
  /* font-family: sans-serif; */
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.container-fluid {
  padding: 3% 15%;
}

/* .row {
  margin-top: 100px;
} */

#iphone-image {
    width: 60%;
  transform: rotate(25deg);
}

.download-button {
  margin: 5% 3% 5% 0;
}

#features {
  padding: 7% 15%;
}

#features div {
  text-align: center;
  padding: 5%;
}

p {
  color: #8f8f8f;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c8f;
}

#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 50%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

#press img {
  width: 10%;
  margin: 201px 20px 15px;
}