#title {
  background-color: #ff4c8f;
}

body {
    font-family: "Montserrat", sans-serif;
}

h1 {
  /* font-family: sans-serif; */
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

.container-fluid {
  padding: 3% 15%;
}

.row {
  margin-top: 100px;
}

#iphone-image {
  transform: rotate(20deg);
}

button {
  margin-top: 20px;
  margin-right: 15px;
}
